Repository AliAkhtari78/SpotifyScraper, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, dependencies, github-actions, cli, core, extractors, media, browsers, auth, utils, parsers, examples, config, security

.github/labeler.yml:

# Configuration for PR labeler action
# https://github.com/actions/labeler

documentation:
  - changed-files:
    - any-glob-to-any-file:
      - 'docs/**'
      - '**/*.md'
      - '**/*.rst'

tests:
  - changed-files:
    - any-glob-to-any-file:
      - 'tests/**'
      - '**/test_*.py'
      - '**/*_test.py'
      - 'conftest.py'
      - 'pytest.ini'
      - 'tox.ini'

dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'requirements*.txt'
      - 'setup.py'
      - 'setup.cfg'
      - 'pyproject.toml'
      - 'poetry.lock'
      - 'Pipfile*'

github-actions:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/**'

cli:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/spotify_scraper/cli/**'
      - 'src/spotify_scraper/__main__.py'

core:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/spotify_scraper/core/**'
      - 'src/spotify_scraper/client.py'

extractors:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/spotify_scraper/extractors/**'

media:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/spotify_scraper/media/**'

browsers:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/spotify_scraper/browsers/**'

auth:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/spotify_scraper/auth/**'

utils:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/spotify_scraper/utils/**'

parsers:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/spotify_scraper/parsers/**'

examples:
  - changed-files:
    - any-glob-to-any-file:
      - 'examples/**'

config:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*config*'
      - '.editorconfig'
      - '.gitignore'
      - '.gitattributes'

security:
  - changed-files:
    - any-glob-to-any-file:
      - 'SECURITY.md'
      - '.github/workflows/security*.yml'
      - '.github/workflows/*security*.yml'

enhancement:
  - head-branch:
    - '^feat(ure)?[/-]'
    - '^enhance[/-]'
    - '^improvement[/-]'

bug:
  - head-branch:
    - '^fix[/-]'
    - '^bug[/-]'
    - '^hotfix[/-]'
    - '^patch[/-]'

breaking-change:
  - changed-files:
    - any-glob-to-any-file:
      - 'BREAKING*.md'
  - head-branch:
    - '^breaking[/-]'
    - '^major[/-]'

fix: remove comment from flake8 ignore line in setup.cfg
  setup.cfg
Labels: dependencies

fix: format remaining files with black
  src/spotify_scraper/constants.py
  src/spotify_scraper/core/constants.py
  src/spotify_scraper/core/exceptions.py
  src/spotify_scraper/exceptions.py
Labels: core

fix: correct import sorting for client and config_manager
  src/spotify_scraper/client.py
  src/spotify_scraper/config_manager.py
Labels: core, config

fix: resolve remaining flake8 critical issues
  src/spotify_scraper/extractors/playlist.py
  src/spotify_scraper/utils/common.py
Labels: extractors, utils

fix: resolve line length issue in playlist.py
  src/spotify_scraper/extractors/playlist.py
Labels: extractors

fix: resolve GitHub Pages and CI workflow failures
  .gitignore
  package_build_env/bin/Activate.ps1
  package_build_env/bin/activate
  package_build_env/bin/activate.csh
  package_build_env/bin/activate.fish
  package_build_env/bin/docutils
  package_build_env/bin/eyeD3
  package_build_env/bin/filetype
  package_build_env/bin/keyring
  package_build_env/bin/markdown-it
  package_build_env/bin/normalizer
  package_build_env/bin/pip
  package_build_env/bin/pip3
  package_build_env/bin/pip3.12
  package_build_env/bin/pygmentize
  package_build_env/bin/pyproject-build
  package_build_env/bin/python
  package_build_env/bin/python3
  package_build_env/bin/python3.12
  package_build_env/bin/rst2html
  package_build_env/bin/rst2html4
  package_build_env/bin/rst2html5
  package_build_env/bin/rst2latex
  package_build_env/bin/rst2man
  package_build_env/bin/rst2odt
  package_build_env/bin/rst2pseudoxml
  package_build_env/bin/rst2s5
  package_build_env/bin/rst2xetex
  package_build_env/bin/rst2xml
  package_build_env/bin/spotify-scraper
  package_build_env/bin/spotifyscraper
  package_build_env/bin/tqdm
  package_build_env/bin/twine
  package_build_env/lib64
  package_build_env/pyvenv.cfg
  setup.cfg
Labels: dependencies, config

chore: remove unnecessary files from repository
  .claude/settings.local.json
  .travis.yml
  PROJECT_AUTOMATION_COMPLETE.md
  PUBLISH_INSTRUCTIONS.md
  RELEASE_NOTES.md
  _config.yml
  direct_test.py
  test_track_extraction.py
  track_extractor.py
Labels: documentation, tests, config

fix: resolve CI test failures by fixing import paths
  examples/__init__.py
  examples/production_usage.py
  src/spotify_scraper/cli/utils.py
  tests/integration/test_full_system.py
  tests/integration/test_production_usage.py
Labels: tests, cli, examples

chore: enhance .gitignore with sensitive file patterns
  .gitignore
Labels: config

fix: resolve CI linting failures
  src/spotify_scraper/cli/utils.py
  tests/integration/test_full_system.py
  tests/integration/test_production_usage.py
Labels: tests, cli
